@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: #dce1e2;
}

.header .logo {
  font-size: 50px;
  font-family: "Sriracha", cursive;
  color: rgb(188, 37, 37);
  text-decoration: none;
  margin-left: 30px;
 
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(238, 137, 69, 0.5) 0%;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
  background-color: rgba(69, 134, 238, 0.5) 0%;
}

/* CSS for main element */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background: linear-gradient(to bottom, rgba(69, 134, 238, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cfeef4;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
}

.intro p {
  font-size: 20px;
  color: #fcdddd;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: justify;
  line-height: 1.4;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);

}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 100%;
  border: 2px solid #333333;
  padding: 36px;
  
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #c92d2d;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size:25px;
  color: #585858;
  margin: 10px ;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: 400px;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 25px;
  color: #585858;
  margin: 10px 0;
   border-radius: 10px;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 1em;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color:#c92d2d;
}

.bottom-links .links span {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding: 10px  40px;
 
}
h1{
text-align:center;
padding: 0%;
}
#check{
  display: none;
}
.content{
 display: none;
  transition: 0.5s linear;
}

button{
  display: inline-block;
  text-decoration: underline;
}

#check:checked ~ .content{
  display: block;
}

#check:checked ~ button{
  display: none;
}








