
body {
    font-family: Arial, sans-serif;
    background-color: #387571;
    margin: 0;
    padding: 0;
    border-radius: 1px;
  }
  
  h1 {
    text-align: center;
    margin:10px;
   
  }
  
  form {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: #f3ecec;
    border: 10px solid #387571;
    border-radius: 2px;
  }
  
  form input {
   
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a01717;
    border-radius: 1px;
    text-align: justify;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #387571;
    color: black;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    
  }
  
  form input[type="submit"]:hover {
    background-color: #28692b;
  }
  .container-fluid h1{
    padding: 15px;
    margin: 1px;
    background-color: blue;
  }
  
  